.ipynb_checkpoints/
__pycache__/
.DS_Store
.vscode/
AstroCLIP
A_ssl-legacysurvey/
encoder_spectrum/ma_specformer/outputs
encoder_image/astrodino/model
encoder_fusion/outputs
!encoder_image/astrodino/model/check_train_metric.ipynb

images/north
images/south
images/south-train
images/jwst
images/cosmos2025
images/galaxy_zoo

!images/jwst/check_file.ipynb

!**/.gitkeep
*.log
*.h5
*.hdf5
*.fits
*.ckpt
*.pt
*.gz
*.png
*.gif
*.json
*.npy

# pixi environments
.pixi/*
!.pixi/config.toml

.venv/*
*.csv
settings.json
sync.sh
.claude/*
.pi