.ipynb_checkpoints/
__pycache__/
.DS_Store
AstroCLIP
A_ssl-legacysurvey/

encoder_image/astrodino/model
!encoder_image/astrodino/model/check_train_metric.ipynb

images/north
images/south
images/south-train
images/jwst
images/cosmos2025
images/galaxy_zoo

!images/jwst/check_file.ipynb

!**/.gitkeep
*.log
*.h5
*.hdf5
*.fits
*.ckpt
*.pt
*.gz




